<h1>Employee Detail</h1>

<div *ngIf="employee">
  <h4>{{employee.firstName | uppercase}} {{employee.lastName | uppercase}}</h4>
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{{employee.id}}</th>
      </tr>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">{{employee.firstName}}</th>
      </tr>
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">{{employee.lastName}}</th>
      </tr>
      <tr>
        <th scope="col">Gender</th>
        <th scope="col">{{employee.gender}}</th>
      </tr>
      <tr>
        <th scope="col">Contact Number</th>
        <th scope="col">{{employee.contactNumber}}</th>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-primary" (click)="edit(employee)">Edit Employee</button>
  <button type="button" class="btn btn-outline-danger" (click)="delete(employee)">Delete Employee</button>
</div>