<div class="row">
  <div class="col-1">
    <img width="70px" height="70px"
    src="https://yt3.ggpht.com/ytc/AAUvwnhkiPVq4lgk3aQ4kE2WXgaZe3m0nfx9pqPO6qnToA=s900-c-k-c0x00ffffff-no-rj">
  </div>
  <div class="col-5 justify-content-center">
    <h1>{{title}}</h1>
  </div>
</div>
<!-- <app-heroes></app-heroes> -->


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/employees">Home</a>
  <a class="navbar-brand" routerLink="/products">Products</a>
  <a class="navbar-brand" routerLink="/solution">Solutions</a>
  <a class="navbar-brand" routerLink="/services">Services</a>
  <a class="navbar-brand" routerLink="/about">About</a>
</nav>


<router-outlet></router-outlet>
<app-messages></app-messages>