<!-- <div class="row">
  <div class="col-1">
    <img width="70px" height="70px"
    src="https://yt3.ggpht.com/ytc/AAUvwnhkiPVq4lgk3aQ4kE2WXgaZe3m0nfx9pqPO6qnToA=s900-c-k-c0x00ffffff-no-rj">
  </div>
  <div class="col-5 justify-content-center">
    <h1>{{title}}</h1>
  </div>
</div> -->
<!-- <app-heroes></app-heroes> -->

<!--  navbar-light bg-light -->
<div class="row">
  <div class="col-1"><img src="https://angular.kr/assets/images/logos/angular/angular.svg" height="50px" width="50px"></div>
  <div class="col"><h1 style="color:crimson">phitonthel Angular Sandbox</h1></div>
</div> 
<nav class="navbar justify-content-center" style="color: crimson;">
  <!-- <a class="navbar-brand" routerLink="/employees" routerLinkActive="active-link" style="color: brown;">Home</a> -->
  <a class="navbar-brand col-1 text-center" routerLink="/interviews" routerLinkActive="active-link" style="color: brown;">Interviews</a>
  <a class="navbar-brand col-1 text-center" routerLink="/form" routerLinkActive="active-link" style="color: brown;">Form</a>
  <!-- <a class="navbar-brand" routerLink="/services" style="color: brown;">Services</a> -->
  <a class="navbar-brand col-1 text-center" routerLink="/about" style="color: brown;">About</a>
</nav>


<router-outlet></router-outlet>
<app-messages></app-messages>